@import "tailwindcss";

:root {
  /* base colors */
  --blue-pastel-100: #94afff;
  --blue-pastel-700: #4564c0;
  --blue-400: #53a6ff;
  --blue-500: #2b90fc;
  --gray-100: #e2e2e2;
  --gray-200: #bbbbbb;
  --gray-300: #8b8b8b;
  --gray-400: #666666;
  --gray-500: #272626;
  --gray-700: #212121;
  --gray-900: #0f0f0f;
  --purple-500: #1a57e5;
  --white: #ffffff;
  --black: #000000;

  /* transparency variants */
  --gray-700-transparent: #2121218c;
  --gray-900-transparent: #0f0f0f8c;
}

@theme {
  --color-links: var(--blue-400);
  --color-links-hover: var(--blue-500);

  --color-border: var(--gray-700);
  --color-background: var(--gray-900);

  --color-container: var(--gray-700-transparent);
  --color-container-dark: var(--gray-900-transparent);

  --color-text: var(--white);
  --color-text-para: var(--gray-100);
  --color-text-amount: var(--gray-200);
  --color-text-bold: var(--gray-300);
  --color-text-footer: var(--gray-400);
  --color-text-dark: var(--black);

  --color-accent: var(--blue-pastel-100);
  --color-accent-dark: var(--blue-pastel-700);
  --background-image-gradient-donate: linear-gradient(
    135deg,
    #1a57e5 0%,
    #1396ec 100%
  );
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-y: scroll;
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: var(--font-body);
  line-height: 1.6;
  height: 100%;
  position: relative;
}

.background-gradient:before {
  background:
    radial-gradient(circle at 70% 7%, #3b508de0, #0000 10%),
    radial-gradient(circle at 5% 30%, #3b508de0, #0000 15%),
    radial-gradient(circle at 90% 60%, #3b508de0, #0000 10%),
    radial-gradient(circle at 50% 100%, #3b508de0, #0000 10%);
  content: "";
  filter: blur(200px);
  inset: 0;
  position: absolute;
  z-index: -1;
}

h1,
h2,
h3 {
  color: var(--color-white);
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 2px;
}

label:has(+ input[aria-invalid="true"]) {
  color: var(--color-red-500);
}

/* Utilities */

@utility font-heading {
  font-family: var(--font-heading);
}

@utility font-body {
  font-family: var(--font-body);
}
